@charset "UTF-8";

/* Google Fonts EB Garamond */
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shippori+Mincho:wght@400;600&display=swap');


html {
  font-size: 62.5%;
}
body {
  color: #000;
  font-family: 'Yu Mincho Light', 'YuMincho', 'Yu Mincho', '游明朝体', serif;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.75;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  letter-spacing: 0.025rem;
  margin: 0;
}
a {
  color: #000;
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}
li {
  list-style: none;
}
iframe {
  vertical-align: bottom;
}

/* ====================
モジュール
====================== */
.font_kosakigake {
  font-family: 'しっぽり明朝', serif;
  font-weight: normal;
}
.font_garamond {
  font-family: 'EB Garamond', serif;
  font-weight: 400;
}
.wrapper {
  width: calc(100% - 95px);
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}
.vertical {
  writing-mode: vertical-rl;
}
.secTtl {
  font-family: "しっぽり明朝", serif;
  font-size: 2.45rem;
}
.secTtl span {
  margin-top: 25px;
  display: inline-block;
  color: #999DA0;
  font-family: 'EB Garamond', serif;
  font-size: 1.54rem;
}
.viewBtn {
  font-family: 'EB Garamond', serif;
  font-size: 1.76rem;
  letter-spacing: 0.025em;
}
.viewBtn a {
  display: inline-block;
  width: 168px;
  position: relative;
}
.viewBtn a::before, .viewBtn a::after {
  content: "";
  display: block;
  height: 1px;
  background: #000;
  position: absolute;
  bottom: 0;
}
.viewBtn a::before {
  width: 100%;
  right: 0;
}

/* ====================
ヘッダー
====================== */
/* 共通 */
.gNav_primary li, .gNav_sns,
.gNav_copyright, .gNav_privacy {
  transition: transform 0.4s, opacity 0.4s;
}
/* --------- */

.header {
  position: relative;
  z-index: 10;
}
.header_logo {
  width: 133px;
  position: fixed;
  top: 34px;
  left: 3.6%;
  z-index: 11;
}

/* nav */
.gNav {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  background: #252526;
  color: #FFF;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  transform: translateX(-100%);
  opacity: 0;
  transition: transform 0s 0.3s, opacity 0.3s 0s;
  overflow-y: scroll;
}
.gNav.active {
  transform: translateX(0);
  opacity: 1;
  transition: transform 0s, opacity 0.3s;
}
.gNav_container {
    padding: 0 75px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.gNav_primary {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 70%;
}
.gNav_primary a {
  display: inline-block;
  color: #FFF;
  font-size: 2.45rem;
}
.gNav_primary span {
  display: inline-block;
  margin-top: 20px;
  font-size: 1.32rem;
  font-family: 'EB Garamond', serif;
  letter-spacing: 0.05em;
}
.gNav_primary li:nth-child(1) {
  margin-top: -12px;
}
.gNav_secondary {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 110px;
}
.gNav_sns a {
  display: inline-block;
  margin-bottom: 10px;
  line-height: 1;
}
.gNav_privacy {
    display: inline-block;
    padding-top: 20px;
    color: #fff;
}

/* ====================
ハンガーメニュー
====================== */
.gNavBtn {
  display: block;
  width: 30px;
  padding: 10px 0;
  position: fixed;
  top: 34px;
  right: 3.6%;
  z-index: 11;
  cursor: pointer;
}
.gNavBtn span {
  display: block;
  width: 100%;
  height: 1px;
  background-color: #000;
  transition: 0.3s;
}
.gNavBtn span+span {
  margin-top: 8px;
}
.gNavBtn.active span:nth-of-type(1) {
  transform: translateY(9px) rotate(-45deg);
}
.gNavBtn.active span:nth-of-type(2) {
  opacity: 0;
}
.gNavBtn.active span:nth-of-type(3) {
  transform: translateY(-9px) rotate(45deg);
}
.gNavBtn.active span {
  background-color: #FFF;
}

/* ====================
メインビジュアル
====================== */
.homeMv {
  background: #000;
  position: relative;
  overflow: hidden;
}
.lyMv {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #FFF;
}
.homeMv_textBox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 685px;
  padding-bottom: 50px;
  font-size: 1.9rem;
  line-height: 2.275;
  writing-mode: vertical-rl;
  position: relative;
  z-index: 3;
  pointer-events: none;
}
.homeMv_video {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  transform: translate(-50%, -50%);
}


/* ====================
ポイント
====================== */
#point {
  padding: 110px 0 115px;
}
#point .pointBox {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
#point .ttlBox .ja {
  display: block;
  font-size: 3.1rem;
  line-height: 1.625;
}
#point .ttlBox .en {
  display: block;
  color: #999DA0;
  font-size: 1.54rem;
  line-height: 2;
  margin-right: 65px;
}
#point .textBox {
  font-size: 1.6rem;
  line-height: 2;
}
#point .textBox p+p {
  margin-right: 3.25rem;
}

/* ====================
背景
====================== */
/* img1-bg */
#img1-bg {
  background-image: url(../img/bg3.jpg);
  margin-bottom: 100px;
}
/* img2-bg */
#img2-bg {
  background-image: url(../img/bg4.jpg);
  margin-bottom: 100px;
}
#img1-bg, #img2-bg {
  width: 100%;
  height: 384px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* ====================
特徴
====================== */
#feature {
  padding: 105px 20px 110px;
  overflow: hidden;
}
.feature_sec + .feature_sec {
  margin-top: 115px;
}
.feature_sec:nth-of-type(odd) {
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
}
.feature_sec_inner {
  display: flex;
}
.feature_sec:nth-of-type(odd) .feature_sec_inner {
  flex-direction: row-reverse;
}

/* figure */
.feature_image {
  width: 520px;
}

/* contBox */
.feature_sec:nth-of-type(odd) .feature_contBox {
  margin-right: 140px;
}
.feature_sec:nth-of-type(even) .feature_contBox {
  justify-content: flex-end;
  margin-left: 140px;
}
.feature_contBox {
  display: flex;
  flex-direction: row-reverse;
  padding-top: 72px;
}
.feature_contBox .secTtl span {
  margin-top: 25px;
  display: inline-block;
  color: #999DA0;
  font-family: 'EB Garamond', serif;
  font-size: 1.54rem;
}
.feature_textBox {
  padding-top: 100px;
  padding-right: 72px;
  line-height: 2;
}

/* ====================
実例紹介・ブログ共通
====================== */
.works_list, .blog_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 80.4%;
}
.works_contTtl, .blog_contTtl {
  margin-top: 10px;
  font-size: 1.92rem;
  letter-spacing: 0.05em;
  line-height: 1.32;
}
.works_day, .blog_day {
  display: block;
  margin-top: 5px;
  color: #999DA0;
  font-size: 1.54rem;
  line-height: 1;
}
.works_ttl, .blog_ttl {
width: 19.6%;
}
#works .viewBtn, #blog .viewBtn {
  width: 100%;
  margin-top: 43px;
}


/* ====================
実例紹介
====================== */
#works {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  justify-content: space-between;
  margin-top: 115px;
}
.works_ttl {
  margin-right: -9px;
}
.works_ttl span {
  display: block;
  margin-top: 4px;
}
.works_list li {
  width: 47.4%;
  max-width: 380px;
  margin-top: 53px;
}
.works_list li:nth-child(1), .works_list li:nth-child(2) {
  margin-top: 0;
}
.works_list img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}




/* ====================
ブログ
====================== */
#blog {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 150px;
}
.blog_ttl {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.blog_ttl span {
  margin-top: 0;
}
.blog_list li {
  width: 29.7%;
  max-width: 238px;
  margin-top: 50px;
}
.blog_list li:nth-child(1),
.blog_list li:nth-child(2),
.blog_list li:nth-child(3) {
  margin-top: 0;
}
.blog_contTtl {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  word-break: break-all;
}
#blog .viewBtn {
  width: 80.4%;
  margin-left: auto;
}

/* ====================
フッター
====================== */
#footer {
  margin-top: 150px;
  padding: 90px 0 100px;
  background: #252526;
  color: #FFF;
}
#footer a {
  color: #FFF;
}
.footer_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 5px;
  max-width: 100%;
}
.footer_nav {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 1.9rem;
  padding-left: 60px;
  padding-left: 4.4vw;
}
.footer_nav ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: calc(100% - 100px);
  max-width: 762px;
}
.footer_nav li:nth-child(2) {
  margin-top: -12px;
}
.footer_nav a {
  display: inline-block;
}
.footer_nav a span {
  margin-top: 15px;
  font-family: 'EB Garamond', serif;
  font-size: 1.2rem;
  letter-spacing: 0.05em;
}
.footer_nav_ttl {
  padding-left: 37%;
}
.footer_sns a {
  margin-bottom: 10px;
}
.footer_copyright {
  font-size: 1.32rem;
}

/* トップページ以外ここから---------------------------------- */
/* ====================
共通
====================== */
.rightPageTtl {
  width: 30px;
  font-family: "ＫＯさきがけ龍爪Ｍ", serif;
  font-weight: normal;
  font-size: 1.92rem;
  position: absolute;
  top: 108px;
  right: 3.6%;
}
.rightPageTtl_ja {
  display: flex;
  flex-direction: column;
  font-family: "ＫＯさきがけ龍爪Ｍ", serif;
  font-weight: normal;
  line-height: 1.1;
  text-align: center;
}
.rightPageTtl_en {
  display: inline-block;
  padding-top: 20px;
  color: #999DA0;
  font-family: 'EB Garamond', serif;
  font-weight: 400;
  font-size: 1.32rem;
  letter-spacing: 0.025em;
  writing-mode: vertical-rl;
  line-height: 30px;
}
.smallMv {
  margin-bottom: 47px;
}
.readBox {
  margin-top: 2.4em;
  font-size: 1.6rem;
}

/* ====================
お問い合わせ
====================== */
.contact_container {
  padding-top: 188px;
  font-size: 1.6rem;
  margin-bottom: 100px;
}

.contact_notes {
  margin-top: 70px;
}

.contact_form input,
.contact_form textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
  width: 100%;
  max-width: 368px;
  height: auto;
  padding: 9.5px 10px;
  background: none;
  border: 1px solid #000;
  border-radius: 0;
  color: inherit;
  font-size: 1.6rem;
  font-family: inherit;
  outline: none;
}

.contact_inoput_full input {
  max-width: 100%;
}

.contact_form input::placeholder {
  color: #B3B3B3;
}

.contact_form textarea {
  max-width: 100%;
  height: 225px;
}

.contact_form input[type="checkbox"],
.contact_form input[type="radio"] {
  display: none;
}

.contact_form_checkbox div+div {
  margin-top: 5px;
}

.contact_form_checkbox label {
  display: inline-block;
  padding-left: 24px;
  position: relative;
  cursor: pointer;
}

.contact_form_checkbox label::before {
  content: '';
  display: inline-block;
  width: 16px;
  height: 16px;
  padding: 0;
  border: 1px solid #000;
  position: absolute;
  top: 7px;
  left: 0;
}

.contact_form_checkbox input:checked+label::after {
  position: absolute;
  content: '';
  top: 11px;
  left: 2px;
  width: 13px;
  height: 5px;
  border-left: 2px solid #000;
  border-bottom: 2px solid #000;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

/* .contact_form_checkbox input:checked+label::after {
  background: #000;
} */

.contact_form {
  margin-top: 30px;
  border-top: 1px solid #E5E5E5;
}

.contactError .contact_form,
.contactConfirm .contact_form,
.contactError .contact_form {
  margin-top: 0;
}

.contactError .contact_form {
  border-top: 0;
}

.contact_form dl {
  display: flex;
  padding: 25px 0;
  border-bottom: 1px solid #E5E5E5;
}

.contactConfirm dl {
  padding: 33px 0;
}

.contact_form dt {
  width: 250px;
  padding-top: 8px;
}

.contactConfirm .contact_form dt {
  padding-top: 0;
}

.contact_form dd {
  flex: 1;
}

.contact_form_checkbox dd {
  padding: 8px 0;
}

.contact_form_col2 {
  display: flex;
  justify-content: space-between;
}

.contact_form_col2 input {
  width: 49.5%;
}

.contact_form input[type="submit"],
.contact_form input.contact_prev,
.contact_topto a {
  display: block;
  margin: 50px auto 0;
  width: 270px;
  height: 60px;
  background: #000;
  color: #FFF;
  transition: opacity 0.3s;
  cursor: pointer;
}

.contact_topto a {
  margin-top: 50px;
}

.contact_form input.contact_prev_50 {
  margin-top: 50px;
}

.contact_form input[type="submit"] {
  background: #000 url(/assets/image/common/arrow_right.svg) right 7px center / 6px auto no-repeat;
}

.contact_form input.contact_prev {
  background: #000 url(/assets/image/common/arrow_left.svg) left 7px center / 6px auto no-repeat;
  margin-left: 0;
}

.contact_topto a {
  background: #000 url(/assets/image/common/arrow_left.svg) left 7px center / 6px auto no-repeat;
  margin-left: 0;
  line-height: 60px;
  text-align: center;
}

.contact_form input[type="submit"]:hover,
.contact_form input.contact_prev:hover,
.contact_topto a:hover {
  opacity: 0.7;
}

.contactConfirm_acctionBox {
  display: flex;
  justify-content: center;
}

.contactConfirm_acctionBox input[type="submit"] {
  margin-left: 0;
  margin-right: 0;
}

.contactConfirm_acctionBox input.contact_prev {
  margin-right: 16px;
  background-color: #FFF;
  color: #000;
  background-image: url(/assets/image/common/arrow_left_black.svg);
}

/* ====================
リクルート
====================== */
.recruit {
  padding-top: 188px;
}

/* ====================
費用
====================== */
.cost {
  padding-top: 188px;
}


/* ====================
スマホ
====================== */
@media screen and (max-width: 600px) {
  .wrapper {
    padding: 55px 20px 68px;
  }
  /* mainvisual */
  #mainvisual .video {
    width: 100%;
    height: 100vh;
    object-fit: cover;
  }
  /* point */
  #point {
    flex-direction: column;
  }
  #point .sec-title {
    width: 100%;
    margin-left: 0;
    margin-bottom: 50px;
    writing-mode: horizontal-tb;
  }
  #point .sec-title .ja {
    margin-left: 0;
  }
  #point .textbox {
    width: 100%;
    writing-mode: horizontal-tb;
  }
  #point .textbox p {
    margin-left: 0;
    margin-bottom: 30px;
  }
  /* feature */
  #feature .item {
    flex-direction: column;
    padding: 0 20px;
  }
  #feature .item .img {
    width: 100%;
  }
  #feature .item .img img {
    object-fit: cover;
    height: 20vh;
  }
  #feature .item .text {
    flex-direction: column;
    width: 100%;
    margin-bottom: 50px;
  }
  #feature .title {
    writing-mode: horizontal-tb;
  }
  #feature .textbox {
    writing-mode: horizontal-tb;
  }
  #feature .right-item .text {
    padding: 0;
  }
  #feature .right-item .textbox {
    padding: 0;
  }
  #feature .left-item .text{
    flex-direction: column-reverse;
  }
  #feature .left-item .text {
    padding: 0;
  }
  #feature .left-item .textbox {
    padding: 0;
  }
  #feature .left-item {
    flex-direction: column-reverse;
  }
  /* blog */
  #blog {
    flex-direction: column;
  }
  #blog .sec-title {
    writing-mode: horizontal-tb;
    margin-bottom: 30px;
  }
  #blog .list li {
    width: 48%;
  }
  /* footer */
  #footer {
    padding-bottom: 10px 20px;
  }
  #footer .wrapper {
    padding: 0;
  }
  #footer .container {
    flex-direction: column;
  }
  #footer .title {
    writing-mode: horizontal-tb;
    margin-bottom: 50px;
  }
  #footer .sns {
    writing-mode: horizontal-tb;
    margin-bottom: 20px;
  }
  #footer .copyright {
    writing-mode: horizontal-tb;
  }
  #footer #footer-navi {
    writing-mode: horizontal-tb;
    margin-bottom: 40px;
  }
}
